.outer-layout {
  display: flex;
  justify-content: space-between;
  align-items: start;
  min-height: 100dvh;
}

.groups {
  width: 100%;
}

.outer-actions {
  padding: 20px;
}

footer {
  padding: 20px;
  background: #0000001a;
}
